<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>String</title>
</head>
<body>
    
    <!-- <div ng-app="" ng-init="firstName='Lucas';lastName='Estanislau'">

        <p>The name is {{ firstName + " " + lastName }}</p>
        
    </div> -->

    <p> using ng-bind</p>
    <div ng-app="">
        <p>First Name: <input type="text" ng-model="firstName"></p>
        <p>Last Name: <input type="text" ng-model="lastName"></p>

        Your Full Name is: <span ng-bind="firstName + ' ' + lastName"></span>

    </div>

</body>
</html>