<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Number</title>
</head>
<body>
    
    <div ng-app="" ng-init="value=5.7">
        <p>Valor do Litro da Gasolina: 5.70 </p>
        <p>Digite quantos litros você deseja: <input type="text" ng-model="quantity"></p>
        <p>Total: {{ quantity * value }}</p>
        
    </div>

    <!-- <p> same example, using ng-bind</p>
    <div ng-app="" ng-init="value=5.70">
        <p>Preço do Litro da Gasolina: 5.70 </p>
        <p>Digite quantos litros você deseja: <input type="text" ng-model="quantity"></p>
        <p>Total: <span ng-bind="quantity * value"></span></p>
        
    </div> -->

</body>
</html>